##############################################################################
# Environment (PyVen, IDE, etc.)
##############################################################################
**/.*env*
**/.vscode
**/.DS_Store